@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

//primary
$light-red-cta-text: hsl(356, 100%, 66%);
$very-light-red-cta-hover-background: hsl(355, 100%, 74%);
$very-dark-blue-headings: hsl(208, 49%, 24%);

//neutral
$white: hsl(0, 0%, 100%);
$grayish-blue-footer-text: hsl(240, 2%, 79%);
$very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
$very-dark-black-blue-footer-background: hsl(240, 10%, 16%);

//gradient
//Background gradient - Intro/CTA mobile nav:
$very-light-red: hsl(13, 100%, 72%);
$light-red: hsl(353, 100%, 62%);

//Background gradient - body:
$very-dark-gray-blue: hsl(237, 17%, 21%);
$very-dark-desatured-blue: hsl(237, 23%, 32%);

//font
$fs: 16px;
$ff-overpass: 'Overpass', sans-serif;
$fw-overpass-light: 300;
$fw-overpass-semi-bold: 600;

$ff-ubuntu: 'Ubuntu', sans-serif;
$fw-ubuntu-regular: 400;
$fw-ubuntu-medium: 500;
$fw-ubuntu-bold: 700;

* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  margin: 0 auto;
}

.header {
  font-family: $ff-ubuntu;
  border-radius: 0 0 0 120px;
  display: flex;
  flex-direction: column;
  gap: 20%;
  width: 100%;
  height: 85vh;

  background-image:
    url('../images/bg-pattern-intro-desktop.svg'),
    radial-gradient(circle at 60%, $light-red, $very-light-red);
  background-size: 200%;
  background-position: 20% 50%;

  &__navigation {
    display: flex;
    align-items: center;
    width: 80vw;
    margin: 3.5em auto;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 2em;
  }

  &__links {
    display: flex;
    align-items: center;
  }

  &__menu {
    button {
      background: none;
      border: none;
      color: $white;
      cursor: pointer;
    }

    button::before {
      display: block;
      content: 'boldnochange';
      font-weight: $fw-overpass-semi-bold;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }

    button:hover {
      font-weight: $fw-overpass-semi-bold;
      text-decoration: underline;
    }

    &:focus-within > * {
      display: block;
    }
  }

  &__options {
    display: none;
    position: absolute;
    transform: translateY(10px);

    ul {
      background-color: $white;
      padding: 1rem;
      padding-right: 2.5rem;
      list-style: none;
      border-radius: 5px;
      box-shadow: 2px 2px 25px 0 rgba(0, 0, 0, 0.199);
    }

    ul::before {
      display: block;
      content: 'boldnochange';
      font-weight: $fw-overpass-semi-bold;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }

    li {
      padding: .5rem 0;
      cursor: pointer;

      &:hover {
        font-weight: $fw-overpass-semi-bold;
      }
    }
  }

  &__user {
    ul {
      display: flex;
      gap: 2em;
      align-items: center;
    }
  }

  &__login {
    text-decoration: none;
    color: $white;
  }

  &__signup {
    text-decoration: none;
    font-weight: $fw-overpass-semi-bold;
    color: $light-red;
    background-color: $white;
    padding: .6em 1.5em;
    border-radius: 25px;

    &:hover {
      color: $white;
      background-color: $very-light-red-cta-hover-background;
    }
  }
}

.hero {
  font-family: $ff-overpass;
  color: $white;
  text-align: center;

  h1 {
    font-size: clamp(5vmin, 8vmin, 10vmin);
  }

  p {
    margin-top: 2em;
    font-weight: $fw-overpass-light;
  }

  &__buttons {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    gap: 1em;
  }

  &__start {
    font-family: $ff-ubuntu;
    color: $light-red;
    background-color: none;
    font-weight: $fw-ubuntu-bold;
    border: none;
    padding: 1em;
    border-radius: 25px;
    cursor: pointer;

    &:hover {
      color: $white;
      background-color: $very-light-red-cta-hover-background;
    }
  }

  &__more {
    font-family: $ff-ubuntu;
    font-weight: $fw-ubuntu-bold;
    border: 1px solid $white;
    background-color: rgba(255, 0, 0, 0);
    color: $white;
    padding: 1em;
    border-radius: 25px;
    cursor: pointer;

    &:hover {
      background-color: $white;
      color: $light-red-cta-text;
    }
  }
}

.main {
  font-family: $ff-overpass;

  &__first {
    padding-top: 10em;
    padding-bottom: 10em;
    color: $very-dark-blue-headings;

    background-image: url('../images/illustration-editor-desktop.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right -14.5em bottom .5em;

    .section {
      &__title {
        text-align: center;
        font-size: 4.5vmin;
      }
    
      &__text {
        width: 40%;
        margin-top: 4em;
        margin-left: 10%;
      }
    
      &__subtitle {
        font-size: 4vmin;
        margin-top: 5em 0;
      }
    
      &__paragraph {
        margin-top: 1em;
        margin-bottom: 3em;
        line-height: 1.8em;
      }
    }
  }

  &__second {
    margin-top: 3em;
    padding: 6.8em 11em;
    color: $white;
    border-radius: 0 100px 0 100px;
    background-image:
      url('../images/bg-pattern-circles.svg'),
      linear-gradient(to right, $very-dark-gray-blue, $very-dark-desatured-blue);
    background-repeat: no-repeat;
    background-size: 80%, auto;
    background-position: -108% 80%;
    
    .phones-div {
      position: absolute;
      transform: translate(-3em, -10.6em); 
    }

    .section {
      width: 50%;
      margin-left: 40vw;

      &__subtitle {
        font-size: 5.5vmin;
        font-weight: $fw-overpass-light;
        padding: .5em 0;
      }

      &__paragraph {
        font-family: $ff-overpass;
        font-weight: $fw-overpass-light;
        line-height: 1.8em;
        letter-spacing: .05em;
      }
    }
  }

  &__third {
    padding: 0 10em;
    margin: 2em 0;
    border-top: 18em solid transparent;
    border-bottom: 18em solid transparent;

    background-image: url(../images/illustration-laptop-desktop.svg);
    background-repeat: no-repeat;
    background-position: -75%;

    .section {
      color: $very-dark-grayish-blue-body-copy;
      width: 50%;
      margin-left: 40vw;

      &__subtitle {
        font-size: 4vmin;
        margin-top: 5em 0;
      }

      &__paragraph {
        margin-top: 1.2em;
        margin-bottom: 3em;
        line-height: 1.8em;
      }
    }
  }
}

.footer {
  background-color: $very-dark-black-blue-footer-background;
  color: $grayish-blue-footer-text;
  font-family: $ff-ubuntu;
  display: flex;
  align-items: flex-start;
  gap: 10em;
  padding: 4em 0;
  padding-left: 10vw;
  border-radius: 0 100px 0 0;

  h2 {
    font-size: 1.2em;
  }

  ul {
    list-style: none;
    margin-top: 2em;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  li:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.attribution {
  color: white;
  background-color: $very-dark-black-blue-footer-background;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}