@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.App {
  margin: 0 auto;
}

.header {
  font-family: "Ubuntu", sans-serif;
  border-radius: 0 0 0 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20%;
  width: 100%;
  height: 85vh;
  background-image: url("../images/bg-pattern-intro-desktop.svg"), radial-gradient(circle at 60%, #ff3d54, #ff8f70);
  background-size: 200%;
  background-position: 20% 50%;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  margin: 3.5em auto;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-left: 2em;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.header__menu button::before {
  display: block;
  content: 'boldnochange';
  font-weight: 600;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.header__menu button:hover {
  font-weight: 600;
  text-decoration: underline;
}

.header__menu:focus-within img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__menu:focus-within > * {
  display: block;
}

.header__options {
  display: none;
  position: absolute;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.header__options ul {
  background-color: white;
  padding: 1rem;
  padding-right: 2.5em;
  list-style: none;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 25px 0 rgba(0, 0, 0, 0.199);
          box-shadow: 2px 2px 25px 0 rgba(0, 0, 0, 0.199);
}

.header__options ul::before {
  display: block;
  content: 'boldnochange';
  font-weight: 600;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.header__options li {
  padding: .5rem 0;
  cursor: pointer;
}

.header__options li:hover {
  font-weight: 600;
}

.header__user ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__login {
  text-decoration: none;
  color: white;
}

.header__signup {
  text-decoration: none;
  font-weight: 600;
  color: #ff3d54;
  background-color: white;
  padding: .6em 1.5em;
  border-radius: 25px;
}

.header__signup:hover {
  color: white;
  background-color: #ff7a85;
}

.hero {
  font-family: "Overpass", sans-serif;
  color: white;
  text-align: center;
}

.hero h1 {
  font-size: clamp(5vmin, 8vmin, 10vmin);
}

.hero p {
  margin-top: 2em;
  font-weight: 300;
}

.hero__buttons {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

.hero__start {
  font-family: "Ubuntu", sans-serif;
  color: #ff3d54;
  background-color: none;
  font-weight: 700;
  border: none;
  padding: 1em;
  border-radius: 25px;
  cursor: pointer;
}

.hero__start:hover {
  color: white;
  background-color: #ff7a85;
}

.hero__more {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  border: 1px solid white;
  background-color: rgba(255, 0, 0, 0);
  color: white;
  padding: 1em;
  border-radius: 25px;
  cursor: pointer;
}

.hero__more:hover {
  background-color: white;
  color: #ff525d;
}

.main {
  font-family: "Overpass", sans-serif;
}

.main__first {
  padding-top: 10em;
  padding-bottom: 10em;
  color: #1f3f5b;
  background-image: url("../images/illustration-editor-desktop.svg");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 48em center;
}

.main__first .section__title {
  text-align: center;
  font-size: 4.5vmin;
}

.main__first .section__text {
  width: 40%;
  margin-top: 4em;
  margin-left: 10%;
}

.main__first .section__subtitle {
  font-size: 4vmin;
  margin-top: 5em 0;
}

.main__first .section__paragraph {
  margin-top: 1em;
  margin-bottom: 3em;
  line-height: 1.8em;
}

.main__second {
  margin-top: 3em;
  padding: 6.8em 11em;
  color: white;
  border-radius: 0 100px 0 100px;
  background-image: url("../images/bg-pattern-circles.svg"), -webkit-gradient(linear, left top, right top, from(#2c2d3f), to(#3f4164));
  background-image: url("../images/bg-pattern-circles.svg"), linear-gradient(to right, #2c2d3f, #3f4164);
  background-repeat: no-repeat;
  background-size: 80%, auto;
  background-position: -108% 80%;
}

.main__second .phones-div {
  position: absolute;
  -webkit-transform: translate(-3em, -10.6em);
          transform: translate(-3em, -10.6em);
}

.main__second .section {
  width: 50%;
  margin-left: 40vw;
}

.main__second .section__subtitle {
  font-size: 5.5vmin;
  font-weight: 300;
  padding: .5em 0;
}

.main__second .section__paragraph {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  line-height: 1.8em;
  letter-spacing: .05em;
}

.main__third {
  padding: 0 10em;
  margin: 2em 0;
  border-top: 18em solid transparent;
  border-bottom: 18em solid transparent;
  background-image: url(../images/illustration-laptop-desktop.svg);
  background-repeat: no-repeat;
  background-position: -17em;
}

.main__third .section {
  color: #4b5862;
  width: 50%;
  margin-left: 40vw;
}

.main__third .section__subtitle {
  font-size: 4vmin;
  margin-top: 5em 0;
}

.main__third .section__paragraph {
  margin-top: 1.2em;
  margin-bottom: 3em;
  line-height: 1.8em;
}

.footer {
  background-color: #25252d;
  color: #c8c8cb;
  font-family: "Ubuntu", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10em;
  padding: 4em 0;
  padding-left: 10vw;
  border-radius: 0 100px 0 0;
}

.footer h2 {
  font-size: 1.2em;
}

.footer ul {
  list-style: none;
  margin-top: 2em;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.footer li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.attribution {
  color: white;
  background-color: #25252d;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media only screen and (max-width: 900px) {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    overflow-x: hidden;
  }
  .header {
    background-image: url("../images/bg-pattern-intro-mobile.svg"), -webkit-gradient(linear, left bottom, left top, from(#ff3d54), to(#ff8f70));
    background-image: url("../images/bg-pattern-intro-mobile.svg"), linear-gradient(360deg, #ff3d54, #ff8f70);
    background-size: 350%;
    background-repeat: no-repeat;
    background-position: -19em -14.5em, 0 0;
    background-blend-mode: lighten;
    border-radius: 0 0 0 100px;
  }
  .header__logo {
    height: 2em;
  }
  .header__navigation {
    margin: 0;
    margin-top: 3em;
    margin-left: 2em;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__main {
    display: none;
  }
  .header__ham {
    cursor: pointer;
    width: 35px;
    height: 35px;
    background-image: url("../images/icon-hamburger.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .header__main.m-active {
    display: block;
    width: 85vw;
    position: absolute;
    top: 3em;
    left: -2.7em;
  }
  .header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2em 0;
    gap: 1.4em;
    background-color: white;
    border-radius: 4px 4px 0 0;
  }
  .header__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1em;
    background-color: white;
    border-radius: 0 0 4px 4px;
    padding: 2em 0;
    border-top: 1px solid rgba(191, 64, 64, 0.2);
    border-right: 5em solid white;
    border-left: 5em solid white;
  }
  .header__login {
    color: #2c2d3f;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
  }
  .header__signup {
    padding: .8em 1.7em;
    color: white;
    background-image: -webkit-gradient(linear, right top, left top, from(#ff3d54), to(#ff8f70));
    background-image: linear-gradient(to left, #ff3d54, #ff8f70);
  }
  .header__menu button {
    color: #1f3f5b;
    font-family: "Ubuntu", sans-serif;
    font-size: 1em;
    margin: 0 auto;
    font-weight: 600;
  }
  .header__menu button:hover {
    text-decoration: none;
  }
  .header__options {
    font-family: "Overpass", sans-serif;
    font-weight: 600;
    color: #4b5862;
    display: none;
    position: initial;
  }
  .header__options ul {
    background-color: rgba(75, 88, 98, 0.08);
    -webkit-box-shadow: none;
            box-shadow: none;
    text-align: center;
  }
  .header__options li {
    padding: .5em 3em;
    margin-left: 1em;
  }
  .hero {
    margin: 0 10vw;
    text-align: center;
  }
  .hero h1 {
    font-size: 8vmin;
    text-align: center;
  }
  .hero p {
    margin-top: 1em;
  }
  .hero__buttons {
    margin-top: 3em;
  }
  .main__first {
    padding-top: 7em;
    background-image: url("../images/illustration-editor-mobile.svg");
    background-size: 100%;
    background-position: 0 11em;
  }
  .main__first .section__title {
    font-size: 7.2vmin;
  }
  .main__first .section__text {
    text-align: center;
    width: 85%;
    margin-top: 23em;
  }
  .main__first .section__subtitle {
    font-size: 7vmin;
  }
  .main__second {
    margin-top: 4em;
    padding: 0 0;
    background-image: url("../images/bg-pattern-circles.svg"), -webkit-gradient(linear, left top, left bottom, from(#2c2d3f), to(#3f4164));
    background-image: url("../images/bg-pattern-circles.svg"), linear-gradient(to bottom, #2c2d3f, #3f4164);
    background-size: 150%, auto;
    background-position: center -12em, center;
  }
  .main__second .phones-div {
    position: absolute;
    -webkit-transform: translate(0, -11.5em);
            transform: translate(0, -11.5em);
  }
  .main__second img {
    width: 100%;
  }
  .main__second .section {
    width: 100%;
    margin-left: 0;
    padding-top: 12em;
    padding-bottom: 8em;
  }
  .main__second .section__subtitle {
    font-size: 9.5vmin;
    text-align: center;
    font-weight: 600;
  }
  .main__second .section__paragraph {
    font-size: 1em;
    text-align: center;
    padding: 0 1em;
  }
  .main__third {
    padding: 0 0;
    margin: 0 0;
    border-bottom: 4em solid transparent;
    background-image: url(../images/illustration-laptop-mobile.svg);
    background-position: center -13.5em;
  }
  .main__third .section {
    width: 100%;
    margin-top: 11em;
    margin-left: 0;
  }
  .main__third .section__subtitle {
    font-size: 7vmin;
    text-align: center;
  }
  .main__third .section__paragraph {
    text-align: center;
    padding: 0 2em;
  }
  .footer {
    padding-left: 0;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: .1em;
  }
  .footer__logo {
    margin-bottom: 3em;
  }
  .footer h2 {
    margin-top: 2.5em;
    margin-bottom: 1em;
    color: white;
  }
  .footer ul {
    margin-top: 1em;
    gap: .8em;
  }
  .attribution {
    font-size: .8em;
  }
}
/*# sourceMappingURL=main.css.map */